body {
    position: relative;
    margin: 0;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(222, 225, 248);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    right: 0;
    display: block;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    background-color: #ffffff;
}

.form-group {
    padding: 10px;
}

.simulation-controls {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

center-buttons {
    display: flex;
}

.material-symbols-outlined {
    font-size: 24px;
    vertical-align: middle;
}

#start,
#stop {
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

#start {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#stop {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#menu {
    position: fixed;
    right: 10px;
    z-index: 100;
    top: 10px;
}

#reset {
    background: #dc3545;
    color: white;
    text-align: center;
}

#reset:hover {
    background: #c82333;
}

#addBody,
#settings {
    color: rgb(0, 0, 0);
    text-align: center;
}

#confirm {
    border-radius: 10px;
    background: #28a745;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

#listBodies {
    color: black;
    text-align: center;
}

#menuButton {
    background: #ffffff;
    border-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
}